@charset "utf-8";
/* CSS Document */

/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */

/* Box Sizing Reset */

*, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

/* End Box Sizing Reset */

/* Responsive Image Reset */

img {
	max-width: 100%;
	height: auto;	
}

/* End Responsive Image Reset */

body{
	background-color: black;
}


header {
    overflow: auto;
}
h1{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 20px;
  padding-top: 20px;
}
p{
  font-family: 'Lato', sans-serif;
  line-height: 2;
  font-size: 1.1rem;
  margin-top: 5%;
}
.banner img {
  display: block; 
}

/* Mobile nav bar design*/
.row .three{
  padding: 80px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
}

.hamburger .line{
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburger.is-active{
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger.is-active .line:nth-child(2){
  width: 0px;
}

#hamburger.is-active .line:nth-child(1),
#hamburger.is-active .line:nth-child(3){
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}


  .btn-mobile-menu {
    width:100%;
    float: right;
    cursor: pointer;
    display: block;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden; 
  }
  
  .nav-main {
    clear: both;
    height: 0;
    width:100%;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  }
  
 .nav-main {
  font-family: 'Roboto Slab', serif;
    overflow: hidden;
    width:100%; 
  }
   
  .nav-main li{
    list-style-type:none;
  }

  .nav-main a {
    float: none;
    width: 100%;
    display: block;
    border-left: none;
    border-bottom: 1px solid #024109;
    line-height:65px;
    color: #fff;
    padding-top: 1px; 
    text-decoration:none;
    font-size:1.4rem;
    font-weight:bold;
    padding-left: 40%;

  }
  .show-mobile-menu .nav-main {
    height: 200px;  
  }

/* end of mobile nav bar*/

/* mobile main design */

  main{
    background-color: white;
    opacity:0.8;
    padding:15px;
  }
  .featured-image img{
    margin:10px 0 10px 0;
  }

/* end of mobile main*/
h2{
  font-family: 'Roboto Slab', serif;
  color:white;
} 

footer{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  height:100%;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  opacity:0.8;
  margin-bottom: 0;
  margin-top: 30px;
  padding:15px;
}
footer p{
  font-size: 1rem;
  line-height: 1.4;
}

.social-media a{
  font-size:2.1rem;
  color:black;
  margin-right: 10px;
}

.music-video,
.music-style{
  margin-top:15px;
}

.music-video h1,
.music-style h1{
  margin-top:15px;
  margin-bottom:15px;
} 
hr{
  margin-top: 30px;
  border: 3px solid black;
}


    aside{
      background-color: white;
      opacity: 0.8;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      /* margin: 10%; */
      padding: 2%;
      padding-left: 2%;
      float: none; 
      margin: 0 auto;
      margin-top: 30px;      
    }
    aside p{
       font-family: 'Roboto Slab', serif;
       font-weight: bold;
    }

    .album{
      margin: 0 auto;
    }
    .album img{
      padding: 10px;
      width: 100%;
      height: 100%;
    }

    .album p{
      margin-left: 5%;
      margin-top: 0;
    }
    .head-side{
      display: flex;
      height: 100px;
      width: 100%;
      margin-bottom: 5%;
    }
    .head-side img{
      margin-left: 5%;
      margin-top: 2%;
      width: 20%;
      height: 100%;
    }

    .head-side h1{
      margin-left: 5%;
      margin-top: 5%;

    }

 /* mobile landscape*/

@media  only screen and (min-width:470px){

   .featured-image img{
    margin-left:15px;
   }
  .head-side img{
      width: 20%;
      height: 100%;
    }
    footer{
      margin-bottom: 0;
    }
}

 /*end of mobile landscape*/

/* break down*/
 @media  only screen and (min-width:490px){
  
  .btn-mobile-menu{
    display:none;
    text-indent: 0;
    
  }
  .nav-main{
    display:block;
    height:60px;
    margin:10px 0 10px 0;
  }
  .nav-main ul{
    display: flex;
  }
  .nav-main a{
    display:flex;
    width:40%;
    border-bottom: none;
    /*border-right: 3px solid black;*/
    margin-right:70px;
    padding-right: 10px;
    /*padding-bottom: 1px;*/
  }
  .show-mobile-menu{
    height:0;
    display:none;
  }
  footer{
    margin-bottom: 0;
  }

  .featured-image img{
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
   }
}

/*end of break down */

/*new break down on 650px*/
  @media  only screen and (min-width:650px){

    main{
      padding:30px;
    }
    footer{
      height:auto;
      margin-bottom: 0;
      padding-bottom: 15px;
      padding-top: 20px;
      padding-left: 30px;
    }

    footer p{
      line-height: 2;
    }
    aside{
      padding: 5%;
    }
    .head-side img{
      margin-left: 3%;
      margin-top: 2%;
      margin-bottom: 2%;
      width: 20%;
      height: 100%;
    }
    .album{
      margin: 0 auto;
      display: flex;
    }
    .album img{
      padding: 5px;
      width: 25%;
      height: 25%;
    }

    .album p{
      margin-right: 3%;
      margin-left: 1%;
    }
  }

/*end of break down */


/*new break down on 900px*/
  @media  only screen and (min-width:900px){

    main img{
      padding-left:15px;
    }
    aside{
      padding:3%;
      padding-right: 0;
    }
    .album p{
      margin-right: 6%;
      margin-left: 2%;
    }
    footer p{
      margin-top: 3%;
    }
   .head-side img{
      width: 20%;
      height: 100%;
    }
  }

/*end of break down */


/*new break down on 1024px tablet landscape*/
  @media  only screen and (min-width:1000px){

    main, 
    footer,
    .nav-main,
    .nav-main ul{
      margin-right: 50px;
      margin-left: 50px;
      width:auto;
    }
    footer{
      display:flex;
      flex-direction: row-reverse;
      padding-top: 15px;      
    }
    .social-media{
      padding-left:59%;
      padding-top: 20px;
    }
    .head-side h1{
      margin-top: 4%;
    }
    .head-side img{
      width: 15%;
      height: 100%;
    }
    aside{
      width: auto;
      margin-right: 50px;
      margin-left: 50px;
    }

  }
 
/*end of landscape */

/*new break down on 1300 px*/
  @media  only screen and (min-width:1300px){

    main{
      padding-left:4%;
      padding-right: 4%; 
      width: 70%;
      margin-right: 0;
    }
    .featured-image img{
      padding-left: 0;
    }
    main, 
    footer,
    .nav-main {
      /*margin-right: 50px;*/
      margin-left: 50px;
      width:960px;
    } 
    .nav-main ul:first-child a{
      padding-left: 30px;
    }
    .wrapper{
      background-image: url('../images/Coldplay-Live-bg.jpg');
      background-size: cover;
    }
    main,
    footer{
      opacity:0.95;
    }
    main img{
      opacity: 1;
    }

    footer{
      display:flex;
      flex-direction: row-reverse;
      padding-top: 20px;      
    }
    .social-media{
      padding-left:60%;
      padding-top: 20px;
      padding-right: 20px;
    }

    .banner{
      width: 100%;
      margin: 0 auto;
    }
    .video{
      margin-bottom: 25px;
    }
    .wrapper{
      position: relative;
      width: 100vw;
    }
    .head-side img{
      width: 20%;
      height: 100%;
    }
    .album p{
      margin-left: 3%;
      margin-right: 6%;
    }
    .head-side img{
      width: 15%;
      height: 100%;
    }

    aside{
      width: 960px;
      margin-right: 50px;
      margin-left: 50px;
      opacity: 0.95;
    }


  }

  /*new break down on 1550 px*/
  @media  only screen and (min-width:1580px){
      aside{
      width: 33%;
      height: auto;
      /* margin: 10%; */
      padding: 0.8%;
      padding-left: 1%;
      float: right; 
      margin: 0 auto;
      margin-right: 6%;
      margin-left: -5%;
      position: absolute;
      top: 2.05%;
      left: 70%;
    }

    .album{
      margin: 0 auto;
      display: flex;
    }
    .album img{
      padding:15px;
      width: 25%;
      height: 25%;
    }

    .album p{
      margin-right: 2%;
      margin-left: 0.5%;
      margin-top: 2%;
      font-size: 0.8rem;
    }
    .head-side{
      display: flex;
      height: 70px;
      width: 100%;
    }
    .head-side img{
      margin-right: 5%;
    }

    .head-side h1{
      margin-left: 2%;
      margin-top: 1%;

    }


  }



  /*new break down on 1700 px*/
  @media  only screen and (min-width:1650px){

    aside{
      width: 35%;
      margin-left: -7%;
    }

  }


  /*new break down on 1900 px*/
  @media  only screen and (min-width:1900px){

    h1{
      padding-bottom:0;
    }
    aside{
      background-color: white;
      opacity: 0.95;
      /* display: flex; */
      width: 33%;
      height: auto;
      /* margin: 10%; */
      padding: 1%;
      padding-left: 2%;
      float: right; 
      margin: 0 auto;
      margin-right: 6%;
      margin-left: -5%;
      position: absolute;
      top: 2.1%;
      left: 60%;
    }

    .albums{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      
    }
    .album{
      margin: 0 auto;
      display: flex;
    }
    .album img{
      padding: 10px;
      width: 25%;
      height: 25%;
    }

    .album p{
      margin-right: 6%;
      font-size:1rem;
    }
    .head-side{
      display: flex;
      height: 70px;
      width: 100%;
    }
    .head-side img{
      margin-right: 5%;
    }
}
